@import url('https://unpkg.com/98.css');

* {
    box-sizing: border-box;
}

body {
    background-color: #98DFF3;
    --text: black;
    --background: #98DFF3;
    --primaryFocus: #3ea1b1;
    --red: #c32222;
    --redBg: #f14e4e;
    --color1: #49B9CA;
    --color2: #ffffff;
    --color3: #d7d7d7;
    --color4: #0e0e0e;
    --color5: #3ea1b1;
    --color6: #54cbdd;
    --color8: #d8d8d8;
    --color9: #bcbcbc;
    --color10: #e7e7e7;
    --color11: #fafafa;
}

nav {
    width: 100%;
    overflow: hidden;
    background-color: #49B9CA;
    margin-bottom: 8px;
    border-radius: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li, nav form {
    display: inline;
    padding: 8px;
}

nav a {
    display: inline-block;
    /* color: #000000; */
    /* text-decoration: none; */
    padding: 8px 10px;
    margin: 0 5px;
}

nav form {
    display: inline-block;
}

.announcement {
    padding: 8px;
    background-color: #49B9CA;
    /* border-radius: 5px;
    box-shadow: 0 1px 8px 0 rgba(22, 22, 22, 0.2), 0 1px 4px 0 rgba(22, 22, 22, 0.2); */
    margin: 12px 0;
}

.postBlock, .commentBlock, .userBlock {
    display: block;
    /* padding: 8px;
    background-color: #ffffff;
    border-radius: 5px; */
    margin-bottom: 8px;
}

.postBlock .title {
    display: block;
    font-weight: 700;
    margin: 0;
}

.userlink {
    display: inline-block;
    margin: 5px 0;
}

.pfp {
    margin-right: 3px;
    border-radius: 3px;
    vertical-align: middle;
}

.pronouns {
    color: #404040;
}

.date {
    /* margin-bottom: 3px;
    padding-bottom: 4px; */
    /* border-bottom: 1px solid #d7d7d7; */
}

/* .meta {
    margin-top: 3px;
    padding-top: 4px;
    border-top: 1px solid #d7d7d7;
} */

.meta span {
    margin-right: 2px;
}

.postBlock .content, .commentBlock .content, .bio {
    margin: 8px 0;
    word-wrap: break-word;
    max-width: 100%;
    white-space: pre-wrap;
}

.attachmentLink {
    display: inline-block;
    max-width: 100%;
    text-decoration: none;
}

.attachment {
    max-width: 100%;
}

.imgPreview, .videoPreview img, .audioPreview {
    max-height: 75px;
    /* border-radius: 5px; */
    /* margin-top: 5px; */
    margin-right: 5px;
}

.audioPreview {
    display: inline-block;
    background-color: #7d7d7d;
    padding: 30px 40px;
    max-width: 100%;
    vertical-align: middle;
    text-align: center;
	line-height: 0;
    border-radius: 5px;
}

.userBlock .bio {
	background-color: #e7e7e7;
	padding: 8px;
	border-radius: 5px;
}